{% extends 'base.html' %}

{% block content %}
    

{% if category_posts%}

        <h1>{{ cats }}</h1>

        <ul>
        {% for post in category_posts %}
        <li>
            <a href="{% url 'article_detail' post.pk %}">{{ post.title}}</a> - 
            {{post.category}}<br> 
            {{post.author.first_name}} - {{post.author.last_name}} - {{post.author.email}}<br>
            {{post.body|slice:":400"}}
        </li>
        
        <small>{{post.post_date}}</small>
        <br>

        {% if user.is_authenticated%}
            <small><a href="{% url 'update_post' post.pk %}">  Edit </a></small>
            <small><a href="{% url 'delete_post' post.pk %}">  Delete </a></small>          
        {% endif %}

        
        <br>
        <br>
        {% endfor %}
        </ul>
{% else %}
  <h2>Sorry this page doesn't exist </h2>

{% endif %}

{% endblock %}